In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import json
import seaborn as sns
from sklearn import linear_model
import sklearn as sk
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.formula.api import mixedlm
import statsmodels as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from scipy import stats as ss
from scipy import stats
import scipy.io as sio
from statsmodels import robust
from itertools import product
%matplotlib inline

In [54]:
pd.set_option('display.max_columns', 300)
pd.set_option('display.max_rows', None)

In [2]:
fish = pd.read_csv('march_fish_100.csv', sep = ",")

In [3]:
len(fish)

320780

In [4]:
fish.head(2)

,index,trial_index,id,price_displayed,key pressed,environment,order,round_instance,task,function_id,quality_check,builtin_rt,end_time,start_time,Participant Public ID,key_pressed,latency
0,177473,1.0,668220.0,1.8,40.0,low,low-high,11.0,fishing,fishing_l,NaN,4.975,1.554475e+12,1.554475e+12,BLIND,40.0,109.0
1,177474,1.0,668220.0,1.8,40.0,low,low-high,11.0,fishing,fishing_l,NaN,29.965,1.554475e+12,1.554475e+12,BLIND,40.0,134.0

## Calculate fatigue

In [5]:
fish['tap_count']=[1]*len(fish)
# fatigue per environment

In [6]:
tap = fish.groupby(['id', 'environment'])['tap_count'].cumsum().reset_index(name = 'fatigue')

In [7]:
tap = tap.reset_index().set_index('index')

In [8]:
tap = tap.drop('level_0', axis =1)

In [9]:
fish = tap.merge(fish, left_index = True, right_index=True,how='inner')

## Exclusion list

In [10]:
fish = fish[~fish.id.isin([668262.0, 675528.0, 675577.0, 680119.0, 672593.0, 683242.0])]
# failed sound check questions

In [11]:
fish.isnull().sum()
fish = fish[fish.latency.notnull()]

In [12]:
len(fish.id.unique())

94

In [13]:
fish['environment_binary'] = np.where(fish['environment']=='low', 0, fish['environment'])
fish['environment_binary'] = np.where(fish['environment']=='high', 1, fish['environment'])
fish['environment_binary'] = np.where(fish['environment']=='low', 0, fish['environment_binary'])
fish['environment_binary'] = np.where(fish['environment']=='high', 1, fish['environment_binary'])
fish['log_latency'] = np.log(fish['latency'])

In [14]:
f_model = mixedlm(formula = 'log_latency ~ 1 + environment_binary + price_displayed + fatigue',
                  groups = fish['id'],
                  re_formula = "~environment_binary + price_displayed + fatigue",
                  data = fish)

r = f_model.fit(reml = False, method = 'powell')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/statsmodels/regression/mixed_linear_model.py:2045: ConvergenceWarning: The MLE may be on the boundary of the parameter space.
  warnings.warn(msg, ConvergenceWarning)

In [15]:
print (r.summary())

                          Mixed Linear Model Regression Results
=========================================================================================
Model:                        MixedLM           Dependent Variable:           log_latency
No. Observations:             298234            Method:                       ML
No. Groups:                   94                Scale:                        0.0562
Min. group size:              1355              Likelihood:                   5171.2141
Max. group size:              4507              Converged:                    Yes
Mean group size:              3172.7
-----------------------------------------------------------------------------------------
                                              Coef.  Std.Err.    z    P>|z| [0.025 0.975]
-----------------------------------------------------------------------------------------
Intercept                                      5.250    0.023 232.836 0.000  5.206  5.294
environment_binary[T.1]                       -0.043    0.012  -3.646 0.000 -0.066 -0.020
price_displayed                               -0.060    0.007  -8.622 0.000 -0.074 -0.047
fatigue                                        0.000    0.000   6.384 0.000  0.000  0.000
Group Var                                      0.048    0.029
Group x environment_binary[T.1] Cov           -0.016    0.013
environment_binary[T.1] Var                    0.013    0.008
Group x price_displayed Cov                   -0.010    0.008
environment_binary[T.1] x price_displayed Cov  0.003    0.004
price_displayed Var                            0.005    0.003
Group x fatigue Cov                            0.000    0.000
environment_binary[T.1] x fatigue Cov         -0.000    0.000
price_displayed x fatigue Cov                 -0.000    0.000
fatigue Var                                    0.000    0.000
=========================================================================================

In [32]:
r_params = pd.DataFrame(r.params,columns=['LMM'])
random_effects = pd.DataFrame(r.random_effects)
random_effects = random_effects.transpose()
random_effects = random_effects.rename(index=str, columns={'groups': 'LMM'})

In [33]:
random_effects.head(2)

             Group  environment_binary[T.1]  price_displayed   fatigue
668220.0 -0.081534                 0.046540         0.003464 -0.000050
668225.0  0.119201                -0.107869        -0.087462 -0.000037

# Correlation with Questionnaires

In [34]:
scales = pd.read_csv('scale_100.csv', sep = ",")

In [55]:
scales.head(10)

,anxiety,depression,tHAD,bAMI,sAMI,eAMI,tAMI,pleasure,physical,cognitive,psychological,total_fatigue,attention,cognitive_instable,motor,perseverance,self_control,cognitive_complexity,attentional_0,motor_0,nonplanning_0,barrat_total
id,,,,,,,,,,,,,,,,,,,,,,
668220.0,0.0,0.0,0.0,0.166667,0.666667,1.166667,0.666667,18,0,0,0,0,6,4,16,8,9,8,10,24,17,51
668225.0,7.0,5.0,12.0,1.500000,2.666667,0.666667,1.611111,30,14,12,5,31,9,5,14,7,14,6,14,21,20,55
668237.0,9.0,0.0,9.0,1.666667,2.000000,1.000000,1.555556,22,12,18,2,32,13,6,16,5,10,13,19,21,23,63
668239.0,12.0,13.0,25.0,3.166667,3.166667,1.000000,2.444444,32,31,28,7,66,13,6,8,10,11,10,19,18,21,58
668240.0,7.0,8.0,15.0,2.666667,2.500000,1.333333,2.166667,28,15,15,4,34,10,6,10,7,18,10,16,17,28,61
668244.0,6.0,3.0,9.0,2.000000,2.000000,1.833333,1.944444,26,8,22,3,33,12,6,11,11,18,10,18,22,28,68
668246.0,17.0,12.0,29.0,2.000000,2.666667,1.000000,1.888889,28,13,15,3,31,11,4,15,8,11,9,15,23,20,58
668249.0,9.0,8.0,17.0,3.000000,2.666667,0.333333,2.000000,28,24,29,4,57,13,8,12,10,8,9,21,22,17,60
668251.0,8.0,4.0,12.0,2.833333,1.833333,0.666667,1.777778,17,19,21,2,42,12,8,14,11,19,10,20,25,29,74
668253.0,3.0,2.0,5.0,1.000000,1.500000,0.333333,0.944444,21,32,16,6,54,8,6,15,7,11,8,14,22,19,55

In [36]:
scales = scales.set_index('id')

In [37]:
scales = scales.drop(['Unnamed: 0'], axis = 1)

In [44]:
scales.index = scales.index.astype(str)

In [45]:
correlation_table = scales.merge(random_effects, right_index = True, left_index = True, how = 'inner')

In [46]:
len(correlation_table)
# sample size
# lose 1 due to incompletion of questionnaires

93

HADS - The higher the score, the more anxious/depressed you are.
<br>AMI - The higher the score, the more apathetic you are. 
<br>barrat - The higher the score, the more impulsive you are. 
<br>Pleasure - The higher the score, the less pleasure you experience. Thus, higher levels of present state of anhedonia. 
<br>Fatigue - higher scores indicate a greater impact of fatigue on a person’s activities.

In [47]:
ss.spearmanr(correlation_table['depression'], correlation_table['environment_binary[T.1]'])

SpearmanrResult(correlation=-0.23386325868968058, pvalue=0.02405951487713364)

In [48]:
ss.spearmanr(correlation_table['anxiety'], correlation_table['environment_binary[T.1]'])

SpearmanrResult(correlation=-0.13371477906883256, pvalue=0.20131807518311529)

In [49]:
ss.spearmanr(correlation_table['bAMI'], correlation_table['environment_binary[T.1]'])

SpearmanrResult(correlation=-0.0392917556668055, pvalue=0.7084521606974981)

In [62]:
ss.spearmanr(correlation_table['nonplanning_0'], correlation_table['price_displayed'])

SpearmanrResult(correlation=-0.20209765720464265, pvalue=0.052052846441191965)

In [76]:
AMI_barrat_HADS = correlation_table[['price_displayed', 'environment_binary[T.1]','anxiety', 'depression', 'tHAD','bAMI', 'sAMI', 'eAMI', 'tAMI',
                                    'attention', 'cognitive_instable', 'motor', 'perseverance', 
                             'self_control', 'cognitive_complexity', 'attentional_0', 'motor_0', 
                             'nonplanning_0', 'barrat_total']]

In [77]:
graph = AMI_barrat_HADS.corr()

In [78]:
def compute_corr_and_p(df1, df2):
    corrs = pd.DataFrame(index=df1.columns, columns=df2.columns, dtype=np.float64)
    pvals = corrs.copy()
    for i, j in product(df1.columns, df2.columns):
        corrs.loc[i,j], pvals.loc[i,j] = ss.spearmanr(df1[i], df2[j], nan_policy = 'omit')
    return corrs, pvals

In [85]:
corrs, pvals = compute_corr_and_p(AMI_barrat_HADS, AMI_barrat_HADS)